In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("HR_comma_sep.csv")
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
dummy = pd.get_dummies(df.salary)
new_df = pd.concat([df , dummy] , axis = 1)
new_df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,low,0,1,0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,0,0,1
2,0.11,0.88,7,272,4,0,1,0,sales,medium,0,0,1
3,0.72,0.87,5,223,5,0,1,0,sales,low,0,1,0
4,0.37,0.52,2,159,3,0,1,0,sales,low,0,1,0

In [4]:
new_df = new_df.drop(columns = ["salary" ,"last_evaluation" , "number_project" , "time_spend_company" , "Work_accident" , "Department"] , axis = 1)
new_df.head(5)

,satisfaction_level,average_montly_hours,left,promotion_last_5years,high,low,medium
0,0.38,157,1,0,0,1,0
1,0.80,262,1,0,0,0,1
2,0.11,272,1,0,0,0,1
3,0.72,223,1,0,0,1,0
4,0.37,159,1,0,0,1,0

In [5]:
from sklearn.model_selection import train_test_split
x = new_df.drop(columns = ["left"] , axis = 1)
y = new_df.left
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,train_size=0.8)

KeyError: "['test'] not found in axis"